<nav class="navbar sticky-top navbar-expand-lg navbar-light " style="background-color: #dbc6a1;">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
              <a class="nav-link "  href="/teacher/home"><strong>Home</strong></a>
        </div>
       
        <div class="navbar-nav ml-auto">
            <a class="nav-link" id="nav" href="/teacher/logout"><strong>Logout </strong></a>
           
        </div>
      </div>
    </div>
  </nav>